# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
# Ignore environment files

myenv/




*.sqlite3
inventory.db

# Ignore static & media files
static/
media/

# Ignore VS Code settings
.vscode/
 
